div.m-layer {
  position: absolute;
  z-index: 9998;
  width: 530px;
  border-radius: 4px;
  box-shadow: 0 5px 16px rgb(0 0 0 / 80%);
}
div.m-layer .zbar, div.m-layer .zcls {
  background: url('../../assets/img/login/layer.png') no-repeat 0 9999px;
}
div.m-layer .zbar {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #191919;
  border-radius: 4px 4px 0 0;
  background: #2d2d2d;
}
div.m-layer .zttl {
  padding-right: 45px;
  margin: 0;
  height: 38px;
  line-height: 38px;
  padding-left: 18px;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-position: 50% 0;
}
div.m-layer div.zcnt {
  padding: 0;
  border: 1px solid #878787;
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  background: #fff;
}
div.m-layer .lyct-1 {
  padding: 0;
}
.n-log2-2 {
  padding: 30px 0 43px;
  width: 220px;
  margin: 0 auto;
}
.u-phonewrap {
  position: relative;
  height: 30px;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  z-index: 10;
}
.u-phonewrap .current {
  position: relative;
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 18px 0 5px;
  border-right: 1px solid #cdcdcd;
}
.u-phonewrap .current .icn {
  position: absolute;
  top: 14px;
  right: 7px;
}
.u-icn2 {
  background: url('../../assets/img/login/icon2.png') no-repeat 0 9999px;
}
.u-icn2-17 {
  width: 7px;
  height: 4px;
  background-position: -260px -450px;
}
.u-phonewrap .txtwrap {
  overflow: hidden;
}
.n-log2 .u-txt {
  width: 206px;
}
.u-txt {
  height: 19px;
  margin: 0;
  padding: 5px 6px 6px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  line-height: 19px;
  box-sizing: content-box;
}
.u-phonewrap .txt {
  display: block;
  padding: 5px 8px 5px;
  height: 20px;
  line-height: 20px;
  border: none;
}
.f-mgt10 {
  margin-top: 10px;
}
.n-log2 .u-auto {
  margin: 0 12px 0 0;
  vertical-align: middle;
}
.f-fr {
  float: right;
}
.f-mgt20 {
  margin-top: 20px;
}
.n-log2-2 .u-btn2-2, .n-log2-3 .u-btn2-2 {
  width: 215px;
}
.u-btn2-2 {
  color: #fff;
  background-position: right -428px;
}
.u-btn2-2:hover {
  background-position: right -510px;
}
.n-log2-2 .u-btn2-2 i, .n-log2-3 .u-btn2-2 i {
  width: 180px;
}
.u-btn2-2 i {
  color: #fff;
  background-position: 0 -387px;
}
.n-loginlink2 {
  padding: 0 19px;
  height: 48px;
  border-top: 1px solid #c6c6c6;
  border-radius: 0 0 4px 4px;
  line-height: 48px;
  background-color: #f7f7f7;
}
div.m-layer .zcls {
  position: absolute;
  z-index: 20;
  top: 16px;
  right: 20px;
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
  background-position: 0 -95px;
}